-
	var carouselMainSlides = [
		{
			caption: 'Программа капитального ремонта',
			description: 'Вы можете узнать, участвует ли Ваш дом в программе капитального ремонта<br>Проверить начисления<br>Узнать сроки и направления капитального ремонта',
			link: 'найти дом',
			linkHref: '/',
			imageHref: './assets/images/main-carousel/slide-01.jpg'
		},
		{
			caption: 'Программа капитального ремонта',
			description: 'Вы можете узнать, участвует ли Ваш дом в программе капитального ремонта<br>Проверить начисления<br>Узнать сроки и направления капитального ремонта',
			link: 'найти дом',
			linkHref: '/',
			imageHref: './assets/images/main-carousel/slide-02.jpg'
		}
	]

-
	var navLinks = [
		{
			href: '/',
			text: 'О Фонде'
		},
		{
			href: '/',
			text: 'Программа'
		},
		{
			href: '/',
			text: 'Деятельность'
		},
		{
			href: '/',
			text: 'Собственникам'
		},
	]

-
	var newsImageCarouselBlock = [
		{
			imageHref: './assets/images/news/new-01.jpg'
		},
		{
			imageHref: './assets/images/news/new-01.jpg'
		},
		{
			imageHref: './assets/images/news/new-01.jpg'
		},
		{
			imageHref: './assets/images/news/new-01.jpg'
		}
	]

-
	var newsCarouselBlock = [
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		},
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		},
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		},
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		}
	]

-
	var newsShortBlock = [
		{
			caption: 'Присоединение к ЕИРЦ',
			description: 'НО РФ КРМД РК присоединился к системе <a href="/">ЕИРЦ</a>. Появилась возможность контроля платежей с помощью <a href="/">Личного Кабинета</a>'
		},
		{
			caption: 'Эффективная деятельность органов власти',
			description: 'С 21 августа 2017 года вы можете ознакоминтся с <a href="/">результатами опроса</a>. Эффективная деятельность органов власти на <a href="/">Портале Правительства Республики Крым</a>'
		},
		{
			caption: 'Оплаты взносов через РНКБ',
			description: 'Во всех отделениях РНКБ банка вы можете совершить платеж по минимальным тарифам комисcии. Полные условия на сайте РНКБ. Присутсвует сервис <a href="/">онлайн оплат</a>'
		},
		{
			caption: 'Эффективная деятельность органов власти',
			description: 'С 21 августа 2017 года вы можете ознакоминтся с <a href="/">результатами опроса</a>. Эффективная деятельность органов власти на <a href="/">Портале Правительства Республики Крым</a>'
		},
		{
			caption: 'Присоединение к ЕИРЦ',
			description: 'НО РФ КРМД РК присоединился к системе <a href="/">ЕИРЦ</a>. Появилась возможность контроля платежей с помощью <a href="/">Личного Кабинета</a>'
		},
		{
			caption: 'Эффективная деятельность органов власти',
			description: 'С 21 августа 2017 года вы можете ознакоминтся с <a href="/">результатами опроса</a>. Эффективная деятельность органов власти на <a href="/">Портале Правительства Республики Крым</a>'
		},
		{
			caption: 'Оплаты взносов через РНКБ',
			description: 'Во всех отделениях РНКБ банка вы можете совершить платеж по минимальным тарифам комисcии. Полные условия на сайте РНКБ. Присутсвует сервис <a href="/">онлайн оплат</a>'
		},
		{
			caption: 'Эффективная деятельность органов власти',
			description: 'С 21 августа 2017 года вы можете ознакоминтся с <a href="/">результатами опроса</a>. Эффективная деятельность органов власти на <a href="/">Портале Правительства Республики Крым</a>'
		}
	]


