-
	var carouselMainSlides = [
		{
			caption: 'Программа капитального ремонта',
			description: 'Вы можете узнать, участвует ли Ваш дом в программе капитального ремонта<br>Проверить начисления<br>Узнать сроки и направления капитального ремонта',
			link: 'найти дом',
			linkHref: '/',
			imageHref: './assets/images/main-carousel/slide-01.jpg'
		},
		{
			caption: 'Программа капитального ремонта',
			description: 'Вы можете узнать, участвует ли Ваш дом в программе капитального ремонта<br>Проверить начисления<br>Узнать сроки и направления капитального ремонта',
			link: 'найти дом',
			linkHref: '/',
			imageHref: './assets/images/main-carousel/slide-02.jpg'
		}
	]

-
	var navLinks = [
		{
			href: '/',
			text: 'О Фонде'
		},
		{
			href: '/',
			text: 'Программа'
		},
		{
			href: '/',
			text: 'Деятельность'
		},
		{
			href: '/',
			text: 'Собственникам'
		},
	]

-
	var newsImageCarouselBlock = [
		{
			imageHref: './assets/images/news/new-01.jpg'
		},
		{
			imageHref: './assets/images/news/new-01.jpg'
		},
		{
			imageHref: './assets/images/news/new-01.jpg'
		},
		{
			imageHref: './assets/images/news/new-01.jpg'
		}
	]

-
	var newsCarouselBlock = [
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		},
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		},
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		},
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		}
	]


