-
	var carouselMainSlides = [
		{
			caption: 'Программа капитального ремонта',
			description: 'Вы можете узнать, участвует ли Ваш дом в программе капитального ремонта<br>Проверить начисления<br>Узнать сроки и направления капитального ремонта',
			link: 'найти дом',
			linkHref: '/',
			imageHref: './assets/images/main-carousel/slide-01.jpg'
		},
		{
			caption: 'Программа капитального ремонта',
			description: 'Вы можете узнать, участвует ли Ваш дом в программе капитального ремонта<br>Проверить начисления<br>Узнать сроки и направления капитального ремонта',
			link: 'найти дом',
			linkHref: '/',
			imageHref: './assets/images/main-carousel/slide-02.jpg'
		}
	]

-
	var navLinks = [
		{
			href: '/',
			text: 'О Фонде'
		},
		{
			href: '/',
			text: 'Программа'
		},
		{
			href: '/',
			text: 'Деятельность'
		},
		{
			href: '/',
			text: 'Собственникам'
		},
	]

-
	var newsImageCarouselBlock = [
		{
			imageHref: './assets/images/news/new-01.jpg'
		},
		{
			imageHref: './assets/images/news/new-01.jpg'
		},
		{
			imageHref: './assets/images/news/new-01.jpg'
		},
		{
			imageHref: './assets/images/news/new-01.jpg'
		}
	]

-
	var newsCarouselBlock = [
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		},
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		},
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		},
		{
			caption: 'Завершен ремонт фасада строений по улице пр. Кирова',
			text: 'Если для простоты пренебречь потерями на теплопроводность, то видно, что темная материя едва ли квантуема. Вселенная заряжает внутримолекулярный газ, в итоге возможно появление обратной связи и самовозбуждение системы.',
			link: 'Подробнее'
		}
	]

-
	var newsShortBlock = [
		{
			caption: 'Присоединение к ЕИРЦ',
			description: 'НО РФ КРМД РК присоединился к системе <a href="/">ЕИРЦ</a>. Появилась возможность контроля платежей с помощью <a href="/">Личного Кабинета</a>'
		},
		{
			caption: 'Эффективная деятельность органов власти',
			description: 'С 21 августа 2017 года вы можете ознакоминтся с <a href="/">результатами опроса</a>. Эффективная деятельность органов власти на <a href="/">Портале Правительства Республики Крым</a>'
		},
		{
			caption: 'Оплаты взносов через РНКБ',
			description: 'Во всех отделениях РНКБ банка вы можете совершить платеж по минимальным тарифам комисcии. Полные условия на сайте РНКБ. Присутсвует сервис <a href="/">онлайн оплат</a>'
		},
		{
			caption: 'Эффективная деятельность органов власти',
			description: 'С 21 августа 2017 года вы можете ознакоминтся с <a href="/">результатами опроса</a>. Эффективная деятельность органов власти на <a href="/">Портале Правительства Республики Крым</a>'
		},
		{
			caption: 'Присоединение к ЕИРЦ',
			description: 'НО РФ КРМД РК присоединился к системе <a href="/">ЕИРЦ</a>. Появилась возможность контроля платежей с помощью <a href="/">Личного Кабинета</a>'
		},
		{
			caption: 'Эффективная деятельность органов власти',
			description: 'С 21 августа 2017 года вы можете ознакоминтся с <a href="/">результатами опроса</a>. Эффективная деятельность органов власти на <a href="/">Портале Правительства Республики Крым</a>'
		},
		{
			caption: 'Оплаты взносов через РНКБ',
			description: 'Во всех отделениях РНКБ банка вы можете совершить платеж по минимальным тарифам комисcии. Полные условия на сайте РНКБ. Присутсвует сервис <a href="/">онлайн оплат</a>'
		},
		{
			caption: 'Эффективная деятельность органов власти',
			description: 'С 21 августа 2017 года вы можете ознакоминтся с <a href="/">результатами опроса</a>. Эффективная деятельность органов власти на <a href="/">Портале Правительства Республики Крым</a>'
		},
		{
			caption: 'Оплаты взносов через РНКБ',
			description: 'Во всех отделениях РНКБ банка вы можете совершить платеж по минимальным тарифам комисcии. Полные условия на сайте РНКБ. Присутсвует сервис <a href="/">онлайн оплат</a>'
		},
		{
			caption: 'Эффективная деятельность органов власти',
			description: 'С 21 августа 2017 года вы можете ознакоминтся с <a href="/">результатами опроса</a>. Эффективная деятельность органов власти на <a href="/">Портале Правительства Республики Крым</a>'
		}
	]

-
	var lastNews = [
		{
			data: '31 марта 2017',
			description: '«ЗВЕЗДА»: Вовремя платить за капремонт выгодно. На должников будут подавать в суд'
		},
		{
			data: '29 марта 2017',
			description: 'Застрахована ответственность подрядчиков в случае ущерба, нанесенного жизни, здоровью и имуществу жителей многоквартирных домов'
		},
		{
			data: '27 марта 2017',
			description: 'Разработано приложение «Помощник ЭКР» – для расчета прогнозируемого экономического эффекта при проведении капитального ремонта'
		},
		{
			data: '24 марта 2017',
			description: '«Ольховатский вестник»: Капитальный вопрос. Ольховатцы расспросили о взносах по капремонту'
		},
		{
			data: '23 марта 2017',
			description: 'В Фонде капитального ремонта многоквартирных домов Воронежской области прошел «День открытых дверей»'
		},
		{
			data: '20 марта 2017',
			description: '«Наш край»: Строители закончат ремонт досрочно'
		},
		{
			data: '20 марта 2017',
			description: '«Борисоглебский вестник»: 19 многоэтажек «претендуют» на капремонт'
		},
		{
			data: '20 марта 2017',
			description: '«Знамя труда»: В Грибановке отремонтируют 15 многоэтажек'
		}
	]

-
	var adjacentLinks = [
		{
			href: '/',
			caption: 'Минстрой Российской Федераци',
			linkText: 'minstroyrf.ru'
		},
		{
			href: '/',
			caption: 'Правительство Республики Крым',
			linkText: 'http://rk.gov.ru/'
		},
		{
			href: '/',
			caption: 'Министерство Жилищно-Коммунального Хозяйства Республики Крым',
			linkText: 'minstroyrf.ru'
		},
		{
			href: '/',
			caption: 'Государственная корпорация – Фонд Содействия Реформированию ЖКХ',
			linkText: 'minstroyrf.ru'
		}
	]

-
	var footerLinks = [
		{
			title: 'О фонде',
			href: '/',
			items: [
				{
					title: 'Цели и задачи',
					href: '/'
				},
				{
					title: 'Уставные документы',
					href: '/'
				},
				{
					title: 'Правовая база',
					href: '/'
				},
				{
					title: 'Попечительский совет',
					href: '/'
				},
				{
					title: 'Общественный совет',
					href: '/'
				},
				{
					title: 'Руководство',
					href: '/'
				},
				{
					title: 'Научно-технический совет',
					href: '/'
				}
			]
		},
		{
			title: 'Программа',
			href: '/',
			items: [
				{
					title: 'Краткосрочный план',
					href: '/'
				},
				{
					title: 'Региональная программа',
					href: '/'
				},
				{
					title: 'Ход выполнения программы',
					href: '/'
				},
				{
					title: 'Новости программы',
					href: '/'
				}
			]
		},
		{
			title: 'Деятельность фонда',
			href: '/',
			items: [
				{
					title: 'Торги и закупки',
					href: '/'
				},
				{
					title: 'Отчетность',
					href: '/'
				},
				{
					title: 'Результаты работы',
					href: '/'
				}
			]
		},
		{
			title: 'Собственникам',
			href: '/',
			items: [
				{
					title: 'Новости фонда',
					href: '/'
				},
				{
					title: 'Информационные материалы',
					href: '/'
				},
				{
					title: 'В помощь собственнику',
					href: '/'
				},
				{
					title: 'Образцы документов',
					href: '/'
				},
				{
					title: 'Часто задаваемые вопросы',
					href: '/'
				},
				{
					title: 'Юридическим лицам',
					href: '/'
				},
				{
					title: 'Форма обращения',
					href: '/'
				}
			]
		}
	]

-
	var social = [
		{
			title: 'youtube',
			href: '/'
		},
		{
			title: 'instagram',
			href: '/'
		},
		{
			title: 'odnoklassniki',
			href: '/'
		},
		{
			title: 'facebook',
			href: '/'
		},
		{
			title: 'vk',
			href: '/'
		}
	]

-
	var leaveMessageFields = [
		{
			classModificator: 'form-group-block_type',
			fields: [
				{
					required: 'true',
					label: 'Тип обращения',
					type: 'select',
					tip: 'Обязательное поле. Поля помеченные звёздочкой «<span class="required">*</span>» обязательные',
					placeholder: 'Не выбрано',
					options: [
						{
							content: 'Предложение',
							value: 'proposal'
						},
						{
							content: 'Заявление',
							value: 'statement'
						},
						{
							content: 'Жалоба',
							value: 'complaint'
						}
					]
				}
			]
		},
		{
			classModificator: 'form-group-block_user',
			fields: [
				{
					required: 'true',
					label: 'Фамилия',
					nameInput: 'lastname',
					tip: 'Используйте настоящее имя'
				},
				{
					required: 'true',
					label: 'Имя',
					nameInput: 'firstname'
				},
				{
					label: 'Отчество',
					nameInput: 'patronymic'
				},
				{
					label: 'Пол',
					nameInput: 'gender'
				}
			]
		},
		{
			classModificator: 'form-group-block_address',
			fields: [
				{
					required: 'true',
					label: 'Адрес дома',
					placeholder: 'Например: г. Симферополь, пр. Кирова 1',
					nameInput: 'address',
					tip: 'Порядок заполнения: Город, дом, корпус'
				}
			]
		},
		{
			classModificator: 'form-group-block_email',
			fields: [
				{
					required: 'true',
					label: 'Электронная почта',
					nameInput: 'email',
					tip: 'Срок ответа составляет до 3-х рабочих дней'
				}
			]
		},
		{
			classModificator: 'form-group-block_additionally',
			title: 'Дополнительные контактные данные',
			toogle: 'toogle-block',
			id: 'additionally-data',
			fields: [
				{
					label: 'Почтовый адрес',
					nameInput: 'post-address',
					tip: 'Индекс, Страна, Край/округ/республика, город, дом, корпус, квартира'
				},
				{
					label: 'Телефон',
					nameInput: 'telephone',
					tip: '+7(123) 45-67-89'
				}
			]
		},
		{
			classModificator: 'form-group-block_thematics',
			fields: [
				{
					required: 'true',
					label: 'Тематика',
					type: 'select',
					nameSelect: 'thematic',
					tip: 'Выбирайте основную тему обращения',
					options: [
						{
							content: 'Уплата взносов на капитальный ремонт',
							value: 'payment-contributions'
						},
						{
							content: 'Проведение капитального ремонта',
							value: 'capital-repair'
						}
					]
				}
			]
		},
		{
			classModificator: 'form-group-block_treatment',
			fields: [
				{
					required: 'true',
					label: 'Обращение',
					type: 'textarea',
					nameInput: 'message',
					tip: 'Количество символов ограничено. Осталось: <span>440</span>',
					textareaLength: '440'
				}
			]
		},
		{
			classModificator: 'form-group-block_attach',
			title: 'Прикрепить файл',
			toogle: 'toogle-block',
			id: 'attach-file',
			fields: [
				{
					label: 'Файл с компьютера',
					type: 'button',
					btnText: 'Выбрать файл',
					tip: 'До 10 Мб. Формат: txt, doc, docx, pdf, img, png'
				},
				{
					label: 'Указать ссылку на облачное хранилище',
					btnText: 'Выбрать файл',
					tip: 'Допустимы: Yandex Disk, Google Drive, Dropbox, Облако Mail.Ru, iCloud, OneDrive'
				}
			]
		},
		{
			classModificator: 'form-group-block_captcha',
			fields: [
				{
					required: 'true',
					label: 'Защита от спама',
					type: 'captcha',
					tip: 'Поставьте флажок'
				}
			]
		}
	]

-
	var searchResults = [
		{
			caption: 'Часть текста в котором <span>123</span> содержится поисковый запрос',
			linkText: 'Название страницы, где находится текст содержащий писковый запрос',
			href: '/'
		},
		{
			caption: 'В начале отображаются новости <span>123</span> затем отображаются страницы',
			linkText: 'Название страницы, где находится текст содержащий писковый запрос',
			href: '/'
		},
		{
			caption: 'Результаты сортируются по соответствию поисковому запросу <span>123</span>',
			linkText: 'Название страницы, где находится текст содержащий писковый запрос',
			href: '/'
		}
	]

-
	var adminHeaderLinks = [
		{
			link: 'Страницы',
			href: '/'
		},
		{
			link: 'Команда',
			href: '/'
		},
		{
			link: 'Обращения',
			href: '/'
		}
	]

-
	var adminLoginFields = [
		{
			classModificator: '',
			fields: [
				{
					label: 'Электронная почта'
				},
				{
					label: 'Пароль'
				}
			]
		}
	]

-
	var teamsTable = [
		{
			thead: [
				{
					th: 'Логин'
				},
				{
					th: 'Пароль'
				},
				{
					th: 'Управление'
				},
				{
					th: 'Последнее действие'
				}
			],
			defaultCell: [
				{
					login: 'petr',
					password: '12345@Owner',
					management: '<button>Изменить</button>',
					lastVisit: '<span class="last-visit-time">21:12</span><span> / </span><span class="last-visit-data">21 авг ’17</span>'
				},
				{
					login: 'oleg',
					password: '12345@Autor',
					management: '<button>Изменить</button>',
					lastVisit: '<span class="last-visit-time">21:12</span><span> / </span><span class="last-visit-data">21 авг ’17</span>'
				},
				{
					login: 'grigorii',
					password: '12345@Support',
					management: '<button>Изменить</button>',
					lastVisit: '<span class="last-visit-time">21:12</span><span> / </span><span class="last-visit-data">21 авг ’17</span>'
				}
			]
		}
	]