include ../blocks/data.pug
	.header-admin-container
		header.header-admin
			ul.navigation
				for item in adminHeaderLinks
					li.navigation__item
						a(href=item.href).item__link #{item.link}
			.come-back
				a(href="/")
					svg(role="img")
						use(xlink:href="./assets/images/svg-sprite.svg#shape-arrow-carousel")
					span Назад к списку
			button.login Войти
			button.logout Выйти