.search-container
	.search
		.search__top-row
			.top-row__caption Найти на сайте
			.top-row__close
				img.close__icon(src="./assets/images/icons/close.svg" alt="")
		.search__bottom-row
			.bottom-row__left-col
				label.left-col__search-label(for="search") Введите запрос для поиска
				input.left-col__search-field(type="text" id="search")
			.bottom-row__right-col
				button(disabled).right-col__search-btn найти