/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/slice/agree.html
/slice/admin-treatments.html
/slice/admin-team.html
/slice/admin-login.html
/slice/message-send.html
/slice/index.html
/slice/admin-pages.html
/slice/admin-pages-control.html
