/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/resources/tmp
/public/*.html
/public/assets/js
/public/assets/css
/public/libs
!public/assets/libs/svgpolyfill
!public/assets/libs/ckeditor
/public/assets/js/main.min.js
/public/assets/js/main.js
/public/assets/css/styles.min.css
/public/assets/css/styles.css
/public/assets/vendor/
/public/slice/
/public/assets/images/svg-sprite.svg
