extends ../blocks/default
block content
	include ../blocks/data
	include ../blocks/form-group-block

	.admin-login-container
		include ../blocks/header-admin
		.admin-login
			h1.login__caption Войти
			h6.login__subcaption Управление веб-системой НО РФ КРМД РК
			form.admin-login__form
				for item in adminLoginFields
					+formGroupBlock(item)
				.divider
				.button-container
					button.btn-reset Отменить
					button(type="submit").btn-login Войти
