extends ../blocks/default
block content
	include ../blocks/data
	include ../blocks/link-block
	include ../blocks/footer

	.search-results#top
		include ../blocks/search-block
		.results
			for item in searchResults
				+link(item)

			.results__rul
				|Для уточнения поиска введите
				span  более точную формулировку
				|  или вы можете
				a(href="")  обратиться в поддержку

	+footer(item)