fontFace(font-folder, font-name)
	font-family font-name
	src url("../fonts/" + font-folder + "/" + font-name + "/" + font-name +  ".eot"),
		url("../fonts/" + font-folder + "/" + font-name + "/" + font-name + ".eot?#iefix") format("embedded-opentype"),
		url("../fonts/" + font-folder + "/" + font-name + "/" + font-name + ".ttf") format("truetype"),
		url("../fonts/" + font-folder + "/" + font-name + "/" + font-name + ".woff") format("woff"),
		url("../fonts/" + font-folder + "/" + font-name + "/" + font-name + ".svg#JournalRegular") format("svg");
	font-weight normal
	font-style normal


@font-face
	fontFace("Roboto", "Roboto-Regular")

@font-face
	fontFace("Roboto", "Roboto-Medium")

@font-face
	fontFace("Firasans", "Firasans-Regular")