.header-short-container
	header.header-short
		a(href="/")
			.header__logo
				svg.logo.logo-default(role="img")
					use(xlink:href="../assets/images/svg-sprite.svg#shape-logo")
				svg.logo.logo-hover(role="img")
					use(xlink:href="../assets/images/svg-sprite.svg#shape-logo-hover")
			.header__company
				.company__type Некоммерческая организация
				.company__name «Региональный Фонд Капитального Ремонта Многоквартирных Домов Республики Крым»
		.close-block Отменить