.footer-container
	@media screen and (max-width: 767px)
		.footer__about,
		.footer__contacts,
		.footer__subscribe
			width 100%
			margin-bottom 40px

		.about__text,
		.contacts__caption,
		.subscribe__caption
			margin-bottom 20px