.admin-team
	@extend $adminContainer

	.login__subcaption
		@extend $adminSubcaption

	.button-container
		@extend $buttonContainer

	.divider
		width 100%

	.btn-reset
		@extend $grayBtnBig
		margin-right 28px

	.btn-save
		@extend $redOrangeBtn

	.btn-add
		@extend $blueBorderBtn
		float left