.admin-login
	@extend $adminContainer

	.login__subcaption
		@extend $adminSubcaption

	.form-group-block
		margin-bottom 28px

	.form-group
		float left
		width 48.5%
		&:not(:last-child)
			margin-right 3%

	label.required:after
		content none

	.button-container
		@extend $buttonContainer

	.btn-reset
		@extend $grayBtnBig
		margin-right 28px

	.btn-login
		@extend $blueBtnBigger