.header-short-container
	absoluteElement(fixed, 0, 0)
	width 100%
	z-index 10
	background-color $blueDark

	.header-short
		@extend $mainContainer
		@extend $flexBlock
		position relative
		color $white
		height $headerShortHeight

	.header__logo
		left calc(-100vw * 50 / 1440)

	.close-block
		@extend $robotoMedium
		@extend $smallFontSize
		@extend $transitionDefault
		@extend $cursorPointer
		opacity .6
		padding-right 35px
		background-image url(../images/icons/close.svg)
		background-size 14px 14px
		background-repeat no-repeat
		background-position right center
		position absolute
		right 20px
		&:hover
			opacity 1

	.header__logo
		sizeElement(40px, 31px)
		margin-top 11px

	.header__company
		.company__type
			@extend $robotoMedium
			padding-left 7px

		.company__name
			@extend $smallFontSize
			line-height 1.6



