.message-send
	@extend $mainContainer
	padding-top "calc(44px + %s)" % $headerShortHeight

	.message-send__caption
		margin-bottom 3px

	.message-send__subcaption
		margin-bottom 32px

	.message-send__caption,
	.message-send__subcaption
		padding-left 32px