.message-send
	@extend $mainContainer
	padding-top "calc(44px + %s)" % $headerShortHeight

	.message-send__caption
		margin-bottom 3px

	.message-send__subcaption
		margin-bottom 32px

	.message-send__caption,
	.message-send__subcaption
		padding-left 32px
		
	.form__footer
		text-align right
		padding 32px 32px 40px 0

	.message-send__reset
		@extend $grayBtnBig
		margin-right 32px

	.message-send__submit
		@extend $blueBtn
		font-size 16px