.treatments-parsed-container
	.treatments-parsed
		@extend $adminContainer

	.treatments-parsed__subcaption
		@extend $robotoMedium
		margin-bottom 32px

	.toogle_second
		padding-top 30px
		.toogle__body
			padding-bottom 32px

	.text-container
		padding-top 36px
		line-height 1.2
		margin-bottom 48px

	.text-container__link-attach,
	.text-container__link
		display block
		color $blueJeans
		&:hover
			color $blue

	.reply-again-text
		@extend $robotoMedium
		margin-bottom 32px

	.button-container
		text-align right
		padding 32px 0

	.btn-reset
		@extend $grayBtnBig
		margin-right 32px

	.btn-reply
		@extend $greenBtn

	#cke_editor
		margin-left 0

	.divider
		width 100%