.treatments-reply
	@extend $adminContainer

	.treatments-reply__subcaption,
	.treatments-reply__title
		@extend $robotoMedium

	.treatments-reply__subcaption
		margin-bottom 54px

	.treatments-reply__title
		margin 29px 0 13px 10px

	.table
		margin-top 11px

	.table_user-post-address
		td,th
			&:first-child
				width 78.4%

	.divider
		width 100%

	.button-container
		padding 66px 0 32px 0
		position relative
		&:after
			@extend $clearBoth

	.btn-spam
		@extend $redOrangeBtn
		float left

	.btn-reply
		@extend $greenBtn
		float right