//color variables
$transparent = transparent
$white = #fff
$whiteOpacity = rgba(255, 255, 255, 0.2)
$whiteSemi = rgba(255, 255, 255, 0.5)
$whiteGray = #fafafa
$fullBlack = #000
$fullBlackSemi = rgba(0, 0, 0, .5)
$defaultBlack = #1c212f
$shadow = rgba(28, 33, 47, 0.2)
$blue = #0072cc
$blueDark = #2196f3
$blueLight = #8ecdff
$blueJeans = #304ffe
$red = #f44336
$redOrange = #ff5722
$green = #4caf50
$gray = #a4a6ac



//numeric variables
$subHeaderHeight = 64px
$headerHeight = 134px
$headerShortHeight = 110px
$headerAdminHeight = 56px
$searchBlock = 210px
$newsBlockShadowHeight = 134px
$lastNewsHeight = 96px
$inputHeight = 48px
$textareaHeight = 144px
$toogleBlockHeight = 86px
$minWidth = 1030px


//mixins
absoluteElement(position, top, left)
	position position
	top top
	left left

sizeElement(width, height)
	width width
	height height

linear-interpolation($map)
	if (length(keys($map)) != 2)
		error('Map must have exactly 2 values.')
	$keys   = keys($map)
	$values = values($map)
	$max-width = unit(pop($keys), '')
	$max-size  = unit(pop($values), '')
	$min-width = unit(pop($keys), '')
	$min-size  = unit(pop($values), '')
	$slope       = unit(($max-size - $min-size) / ($max-width - $min-width), '')
	$y-intercept = $min-size - $slope * $min-width
	$sign = \+
	if $y-intercept < 0
		$sign = \-
		$y-intercept = abs($y-intercept)
	unquote('calc(' + unit($slope * 100, vw) + ' ' + $sign + ' ' + unit($y-intercept, px) + ')')

//extends
$mainContainer
	width 1030px
	padding 0 15px
	margin 0 auto


$adminContainer
	@extend $mainContainer
	padding-top 'calc(46px + %s)' % $headerAdminHeight

$blueBtn
	display inline-block
	background-color $blue
	line-height 56px
	padding 0 50px
	text-transform uppercase
	font-family "Roboto-Medium"
	min-width 226px
	text-align center
	color $white
	cursor pointer
	&:hover
		color $white

$blueBtnBigger
	@extend $blueBtn
	font-size 16px

$blueBorderBtn
	display inline-block
	background-color $transparent
	line-height 52px
	font-size 16px
	text-transform uppercase
	font-family "Roboto-Medium"
	padding 0 24px
	text-align center
	color $blueDark
	cursor pointer
	border 2px solid $blueDark

$redOrangeBtn
	display inline-block
	background-color $redOrange
	line-height 56px
	font-size 16px
	text-transform uppercase
	font-family "Roboto-Medium"
	min-width 226px
	text-align center
	color $white
	cursor pointer

$grayBtn
	display inline-block
	background-color transparent
	text-transform uppercase
	font-family "Roboto-Medium"
	text-align center
	font-size 12px
	opacity .6
	color $fullBlack
	border 1px solid $fullBlackSemi
	padding 8px 24px
	cursor pointer
	transition all .3s
	&:hover
		color $white
		background-color $fullBlackSemi

$grayBtnBig
	display inline-block
	background-color transparent
	text-transform uppercase
	font-family "Roboto-Medium"
	text-align center
	font-size 16px
	color rgba(28, 33, 47, 0.6)
	border 2px solid $fullBlackSemi
	cursor pointer
	transition all .3s
	line-height 52px
	min-width 226px

$greenBtn
	display inline-block
	background-color $green
	line-height 56px
	font-size 16px
	text-transform uppercase
	font-family "Roboto-Medium"
	min-width 226px
	text-align center
	color $white
	cursor pointer

$buttonContainer
	text-align right
	padding 32px 0

$clearBoth
	content ''
	display block
	clear both

$pseudoElement
	content ''
	display block
	position absolute

$backgroundPosition
	background-size cover
	background-position center

$flexBlock
	display flex
	align-items center

$absoluteElementPosition
	position absolute
	top 50%
	left 50%

$centerElement
	transform translate(-50%, -50%)

$centerElementY
	transform translateY(-50%)

$centerElementX
	transform translateX(-50%)

$centerElementMargin
	margin 0 auto

$centerText
	text-align center

$robotoMedium
	font-family "Roboto-Medium"

$firasansMedium
	font-family "Firasans-Medium"

$firasansRegular
	font-family "Firasans-Regular"

$fontWeight
	font-wheight bold

$textUppercase
	text-transform uppercase

$semiOpacity
	opacity .5

$tinyFontSize
	font-size 10px

$smallerFontSize
	font-size 12px

$smallFontSize
	font-size 14px

$defaultFontSize
	font-size 16px

$middleFontSize
	font-size 20px

$bigFontSize
	font-size 24px

$biggerFontSize
	font-size 28px

$transitionDefault
	transition all .3s

$transitionSlow
	transition all .5s

$fullOpacity
	opacity 0

$semiOpacity
	opacity .5

$defaultOpacity
	opacity .6

$noneOpacity
	opacity 1

$cursorPointer
	cursor pointer

$adminSubcaption
	@extend $robotoMedium
	margin-bottom 32px
