.admin-team
	@extend $adminContainer

	.login__subcaption
		@extend $adminSubcaption

	.button-container
		@extend $buttonContainer

	.btn-control-add
		@extend $transitionSlow
		opacity 0
		visibility hidden

	.btn-reset
		@extend $grayBtnBig
		margin-right 28px

	.btn-save
		@extend $redOrangeBtn

	.btn-add
		@extend $transitionSlow
		@extend $blueBorderBtn
		float left

	.add-admin,
	.change-admin
		display none
		padding-bottom 22px

	.add-admin__caption,
	.change-admin__caption
		padding-top 24px
		margin-bottom 34px

	.form-group
		&:not(:last-child)
			padding-right 3%

