.header-admin-container
	background-color $red
	absoluteElement(fixed, 0, 0)
	width 100%
	z-index 10

	.header-admin
		@extend $mainContainer
		@extend $smallFontSize
		height $headerAdminHeight
		position relative

	.navigation__item
		height 100%
		display inline-block
		margin-right 20px
		line-height $headerAdminHeight
		&:hover
			@extend $noneOpacity
			color $white

	.item__link
		@extend $semiOpacity
		@extend $transitionDefault
		&:hover,
		&.active
			@extend $noneOpacity
			color $white

	.come-back
		line-height $headerAdminHeight
		display none
		a
			@extend $robotoMedium
			@extend $smallFontSize
			&:hover
				color $white
			svg
				sizeElement(24px, 24px)
				transform rotate(180deg)
				margin-bottom -8px
				display inline-block
			span
				display inline-block
				margin-left 16px



	.login,
	.logout
		@extend $robotoMedium
		@extend $cursorPointer
		@extend $centerElementY
		position absolute
		top 50%
		right 15px
		background-color $transparent
		color $white

	.login
		display none

.treatments-reply-container,
.treatments-parsed-container,
.admin-pages-control-container
	.header-admin-container
		.navigation
			display none
		.come-back
			display block

.admin-login-container
	.header-admin-container
		.logout
			display none
		.login
			display block
