.headers-container
	absoluteElement(fixed, 0, 0)
	width 100%
	min-width 1024px
	z-index 10
	&.scrolled
		.header-wrapper
			background-color rgba(13, 59, 95, .5)
			.header__logo
				left 15px
				transform: scale(0.8)
				margin-top 0
			.header__company
				transform: translateY(-150%);
			.header
				height $subHeaderHeight


	.subheader-container
		background-color $blueDark
		height $subHeaderHeight

	.subheader
		@extend $mainContainer
		height 100%
		display flex
		align-items center

	.subheader_right-col,
	.subheader_left-col,
	.subheader__treatment,
	.subheader__account,
	.search__icon,
	.treatment__icon,
	.account__icon,
	.subheader__search,
	.subheader__treatment,
	.subheader__account
		display inline-block

	.subheader_left-col
		width 20%
		text-align left

	.subheader_right-col
		width 80%
		text-align right

	.subheader__search,
	.subheader__treatment,
	.subheader__account
		position relative
		white-space nowrap
		@extend $smallFontSize
		color $white
		cursor pointer
		opacity .5
		@extend $transitionDefault
		&:hover
			opacity 1

	//.subheader__account:hover
	//	.account__text:after
	//		transform rotate(180deg)
	//		top 70%


	.search__icon svg,
	.treatment__icon svg
		sizeElement(20px, 24px)


	.account__icon svg
		sizeElement(32px, 32px)

	.search__icon,
	.treatment__icon,
	.account__icon
		absoluteElement(absolute, 50%, 0)
		@extend $centerElement

	.search__icon
		left 11px

	.search__text
		padding-left 40px

	.treatment__text
		@extend $transitionDefault
		padding-left 26px
		padding-right 3.8em
		&:hover
			color $white

	.account__text
		padding-left 32px
		padding-right 35px
		position relative
		//&:after
		//	@extend $pseudoElement
		//	sizeElement(0, 0)
		//	border 5px solid transparent
		//	border-top-color $white
		//	top 43%
		//	right 7px
		//	transform-origin center top
		//	@extend $transitionDefault

	.header-wrapper
		border-bottom 1px solid rgba(255, 255, 255, .2)
		overflow hidden

	.header__company
		@extend $transitionSlow

	.header
		@extend $transitionSlow
		@extend $mainContainer
		position relative
		height $headerHeight
		display flex
		align-items center

	.header__logo
		@extend $transitionSlow

	.header__nav
		position absolute
		right 15px

	.nav__link
		@extend $robotoMedium
		font-size 15px
		&:not(:last-child)
			margin-right 2.4em



