.header-admin-container
	background-color $red
	absoluteElement(fixed, 0, 0)
	width 100%
	z-index 10

	.header-admin
		@extend $mainContainer
		@extend $smallFontSize
		height $headerAdminHeight
		position relative

	.navigation
		float left

	.navigation__item
		height 100%
		display inline-block
		margin-right 20px
		line-height $headerAdminHeight
		&:hover
			@extend $noneOpacity
			color $white

	.item__link
		@extend $semiOpacity
		@extend $transitionDefault
		&:hover,
		&.active
			@extend $noneOpacity
			color $white

	.come-back
		line-height $headerAdminHeight
		float left
		a
			@extend $robotoMedium
			@extend $smallFontSize
			&:hover
				color $white
			svg
				sizeElement(24px, 24px)
				transform rotate(180deg)
				margin-bottom -8px
				display inline-block
			span
				display inline-block
				margin-left 16px

	.account-block
		float right
		height 100%

	.account-block__item
		*
			@extend $robotoMedium
			@extend $smallFontSize
			color $white
			display inline
		height inherit
		line-height $headerAdminHeight
		display inline-block
		&:not(:last-child)
			margin-right 15px

	.logout
		@extend $cursorPointer
		background-color $transparent


