.link
	@extend $transitionDefault
	display inline-block
	position relative
	width 48%
	height 164px
	background-color $whiteGray
	padding 24px
	margin-bottom 42px
	overflow hidden
	&:nth-child(odd)
		margin-right 3.4%
	&:hover
		background-color rgba(28, 33, 47, 0.05)
		.row__link-text
			color $blue

	.link__caption
		@extend $defaultFontSize
		color $defaultBlack
		margin-bottom 48px

	.link__row
		position absolute
		width calc(100% - 50px)
		bottom 10px
		&:after
			@extend $clearBoth

	.row__link-text
		@extend $transitionDefault
		color $blueJeans
		float left

	.row__icon
		float right
		sizeElement(24px, 24px)
		margin-top 8px