.news-block
	@extend $mainContainer
	padding 40px 15px 43px 15px
	display flex

	.news-block__carousel
		width 74%

	.news-block__scroll
		width 26%
		padding-left 3.4%
		max-height 540px
		overflow hidden
		position relative
		&:after
			@extend $pseudoElement
			sizeElement(100%, $newsBlockShadowHeight)
			background-image linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #ffffff)
			bottom 0
			left 0
			pointer-events none

	.news-container
		sizeElement(calc(100% + 20px), 100%)
		padding-bottom $newsBlockShadowHeight
		padding-right 25px
		overflow-y scroll

	.news
		margin-bottom 26px

	.news__caption
		@extend $textUppercase
		margin-bottom 8px
		letter-spacing 0.3px

	.news__caption,
	.news__description
		@extend $smallerFontSize

	.news__description
		a
			color $blueJeans
			&:hover
				color $blue

	.slide__img
		sizeElement(100%, 422px)
		@extend $backgroundPosition

	.slick-arrow
		position absolute
		top 0
		font-size 0
		sizeElement(56px, 100%)
		background-color rgba(0, 0, 0, .4)
		@extend $transitionDefault
		@extend $cursorPointer
		z-index 2
		&:after
			@extend $pseudoElement
			position absolute
			top 50%
			left 50%
			@extend $centerElement
			sizeElement(24px, 24px)
			background-image url(../images/icons-sprite/arrow-carousel.svg)
			background-size 100%
			background-repeat no-repeat
			background-position center
			@extend $transitionDefault
		&:hover
			background-color rgba(0, 0, 0, .6)
			&.slick-next:after,
			&.slick-prev:after
				left 55%
		&.slick-disabled
			@extend $fullOpacity

	.slick-next
		right 0

	.slick-prev
		left 0
		transform: rotate(180deg);

	.carousel-slide__caption
		margin 17px 0 13px 0

	.description__link
		color $blueJeans
		@extend $transitionDefault
		@extend $cursorPointer
		&:hover
			color $blue

	.slick-dots
		margin 17px 0 0 5px
		height 24px
		li
			display inline-block
			&:not(:last-child)
				margin-right 13px
			&.slick-active
				button
					sizeElement(16px, 16px)
					background-color transparent
					border 1px solid rgba(28, 33, 47, 0.2)
			&:not(.slick-active):hover
				button
					background-color $blue
					&:before
						@extend $noneOpacity

			button
				font-size 0
				sizeElement(10px, 10px)
				border-radius 50%
				background-color rgba(28, 33, 47, 0.2)
				@extend $transitionDefault
				@extend $cursorPointer
				position relative
				&:before
					@extend $pseudoElement
					sizeElement(24px, 24px)
					background-color rgba(28, 33, 47, 0.05)
					top 50%
					left 50%
					@extend $centerElement
					border-radius 50%
					@extend $fullOpacity
					@extend $transitionDefault




