.page-content
	@extend $mainContainer
	padding-top 210px
	padding-bottom 60px

	a
		@extend $cursorPointer
		color $blueJeans
		&:hover
			color $blue

	ol, ul
		@extend $robotoMedium
		margin 10px 0
		li
			font-family "Roboto-Regular"
			padding-bottom 8px
			list-style-position inside
			&:first-child
				padding-top 15px

	ol li
		list-style-type decimal

	ul li
		position relative
		padding-left 15px
		&:before
			content '•'
			position absolute
			left 0
			color rgba(28, 33, 47, 0.4)

	.headers-container
		.header
			height 110px
		.header-wrapper
			background-color $blueDark
		.subheader-container
			border-bottom 1px solid #5fb9ff
		.header__nav
			  display none
		.company__name
			@extend $smallFontSize
		&.scrolled
			.header-wrapper .header__logo
				transform translateY(-50%) scale(.9)
		.treatment__text,
		.account__text
			color $white

	.header__logo
		sizeElement(40px, 32px)
		left calc(-100vw * 50 / 1440)

	table
		margin 15px 0
		tr
			&:nth-child(odd)
				td, th
					background-color $white