.search-container
	height 0
	background-color $blueDark
	@extend $transitionSlow
	overflow hidden
	border-bottom 1px solid $whiteOpacity
	&.open
		height $searchBlock

	.search
		@extend $mainContainer
		color $white

	.search__top-row
		position relative
		&:after
			@extend $clearBoth

	.top-row__close
		float right
		margin 46px 4px 0 0
		@extend $semiOpacity
		@extend $transitionDefault
		@extend $cursorPointer
		&:hover
			@extend $noneOpacity
		img
			display block

	.top-row__caption
		float left
		@extend $robotoMedium
		margin 40px 0 35px 0

	.search__bottom-row
		position relative
		&:after
			@extend $clearBoth

	.bottom-row__left-col
		float left
		width 74.3%

	.bottom-row__right-col
		float right
		width 25.7%
		padding-left 32px

	.left-col__search-label
		display block
		color rgba(255, 255, 255, 0.6)
		@extend $smallerFontSize
		margin-bottom 7px

	.left-col__search-field
		sizeElement(100%, 48px)
		padding 0 16px

	.right-col__search-btn
		sizeElement(100%, 46px)
		border 1px solid $white
		background-color transparent
		text-align center
		line-height 46px
		@extend $robotoMedium
		@extend $textUppercase
		margin-top 25px
		letter-spacing 1.3px
		color $white
		@extend $transitionDefault
		@extend $cursorPointer
		&:hover:enabled
			background-color $white
			color $blueDark
			border-color $white
		&[disabled]
			opacity .2
			cursor default