extends ../blocks/default.pug
block content
	include ../blocks/data.pug
	include ../blocks/header-admin.pug
	include ../blocks/form-group-block.pug

	.admin-login
		h1.login__caption Войти
		h6.login__subcaption Управление веб-системой НО РФ КРМД РК
		for item in adminLoginFields
			+formGroupBlock(item)
		.divider
		.button-container
			button.btn-reset Отменить
			button.btn-login Войти
