extends ../blocks/default.pug
block content
	include ../blocks/data.pug
	include ../blocks/form-group-block.pug

	.admin-pages-control-container
		include ../blocks/header-admin.pug
		.admin-pages-control
			h1.admin-pages-control__caption Управление страницей
			h6.admin-pages-control__subcaption Изменение свойств и/или содержимого страницы
			.divider
			h3.admin-pages-control__title Страница один
			for item in adminPagesControls
				+formGroupBlock(item)
			.admin-pages-control__subtitle Содержимое
			textarea(name="editor" id="editor")
			.divider
			.button-container
				button.btn-reset Отменить
				button.btn-save Сохранить
