extends ../blocks/default.pug
block content
	include ../blocks/data.pug
	include ../blocks/header-admin.pug
	include ../blocks/form-group-block.pug
	include ../blocks/table.pug

	.admin-team
		h1.login__caption Команда
		h6.login__subcaption Добавление администраторов ресурса и управление ролями
		.divider
		for item in teamsTable
			+table(item)

		.add-admin
			h3.add-admin__caption Новый администратор
			for item in newAdmin
				+formGroupBlock(item)
		.change-admin
			h3.change-admin__caption Изменить запись об администраторе
			for item in newAdmin
				+formGroupBlock(item)

		.divider
		.button-container
			button.btn-control-save.btn-reset.btn-reset_add Отменить
			button.btn-control-save.btn-save Сохранить
			button.btn-add.btn-add-admin Добавить администратора


