extends ../blocks/default.pug
block content
	include ../blocks/data.pug
	include ../blocks/form-group-block.pug
	include ../blocks/table.pug

	.admin-pages-container
		include ../blocks/header-admin.pug
		.admin-pages
			h1.admin-pages__caption Страницы
			h6.admin-pages__subcaption Управление разделами и страницами веб-системы
			.divider
			.toogle
				.toogle__header
					a(href="#admin-main-page" data-role="toogle") Главная страница
				.toogle__body#admin-main-page
					.toogle__body__top-row
						.top-row__title Обложка
						.top-row__add-btn Добавить
					for item in indexCoverTable
						+table(item)
					.toogle__body__top-row
						.top-row__title Слайдер
						.top-row__add-btn Добавить
					for item in indexSliderTable
						+table(item)
					.toogle__body__top-row
						.top-row__title Рекламные записи (SEO)
						.top-row__add-btn Добавить
					for item in indexSeoTable
						+table(item)
					.toogle__body__top-row
						.top-row__title Новости
						.top-row__add-btn Добавить
					for item in indexNewsTable
						+table(item)
					.toogle__body__top-row
						.top-row__title Ссылки на смежные ресурсы
						.top-row__add-btn Добавить
					for item in indexLinksTable
						+table(item)
			.divider

			.toogle
				.toogle__header
					a(href="#admin-section-two" data-role="toogle") Имя раздела два
				.toogle__body#admin-section-two
					for item in sectionTwoTable
						+table(item)
			.divider

			.toogle
				.toogle__header
					a(href="#admin-section-three" data-role="toogle") Имя раздела три
				.toogle__body#admin-section-three
					for item in sectionTwoTable
						+table(item)
			.divider

			.toogle
				.toogle__header
					a(href="#admin-section-four" data-role="toogle") Имя раздела четыре
				.toogle__body#admin-section-four
					for item in sectionTwoTable
						+table(item)
			.divider

			.toogle
				.toogle__header
					a(href="#admin-section-five" data-role="toogle") Имя раздела пять
				.toogle__body#admin-section-five
					for item in sectionTwoTable
						+table(item)
			.divider

			button.btn-add-section Добавить раздел