extends ../blocks/default.pug
block content
	include ../blocks/data.pug
	include ../blocks/header-admin.pug
	include ../blocks/form-group-block.pug
	include ../blocks/table.pug

	.admin-treatments
		h1.login__caption Обращения
		h6.login__subcaption Просмотр обращений и формирование ответов

		.tabs
			ul.tabs__header
				li.header__item
					a(href="#new-treatments").tabs-switch.active Новые
				li.header__item
					a(href="#parsed-treatments").tabs-switch Обработанные
			.tabs__content
				.content__pane#new-treatments.visible
					for item in newTreatmentsTable
						+table(item)
				.content__pane#parsed-treatments jhgjht

