.adjacent-links-wrapper .adjacent-links,
.admin-login,
.admin-team,
.admin-treatments,
.agree-container,
.footer-wrapper .footer,
.header-admin-container .header-admin,
.header-short-container .header-short,
.headers-container .subheader,
.headers-container .header,
.last-news-wrapper .last-news,
.main-block .slide__info,
.main-block .main-block__carousel-arrows,
.message-send,
.news-block,
.search-container .search,
.search-results .results,
.treatments-parsed-container .treatments-parsed,
.treatments-reply {
  width: 71.6vw;
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .adjacent-links-wrapper .adjacent-links,
  .admin-login,
  .admin-team,
  .admin-treatments,
  .agree-container,
  .footer-wrapper .footer,
  .header-admin-container .header-admin,
  .header-short-container .header-short,
  .headers-container .subheader,
  .headers-container .header,
  .last-news-wrapper .last-news,
  .main-block .slide__info,
  .main-block .main-block__carousel-arrows,
  .message-send,
  .news-block,
  .search-container .search,
  .search-results .results,
  .treatments-parsed-container .treatments-parsed,
  .treatments-reply {
    width: 76vw;
  }
}
@media screen and (max-width: 767px) {
  .adjacent-links-wrapper .adjacent-links,
  .admin-login,
  .admin-team,
  .admin-treatments,
  .agree-container,
  .footer-wrapper .footer,
  .header-admin-container .header-admin,
  .header-short-container .header-short,
  .headers-container .subheader,
  .headers-container .header,
  .last-news-wrapper .last-news,
  .main-block .slide__info,
  .main-block .main-block__carousel-arrows,
  .message-send,
  .news-block,
  .search-container .search,
  .search-results .results,
  .treatments-parsed-container .treatments-parsed,
  .treatments-reply {
    width: 100%;
  }
}
.admin-login,
.admin-team,
.admin-treatments,
.treatments-parsed-container .treatments-parsed,
.treatments-reply {
  padding-top: calc(46px + 56px);
}
.admin-login .btn-login,
.agree-container .btn-continue,
.main-block .info__link,
.message-send .message-send__submit {
  display: inline-block;
  background-color: #0072cc;
  line-height: 56px;
  padding: 0 50px;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  min-width: 226px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.admin-login .btn-login:hover,
.agree-container .btn-continue:hover,
.main-block .info__link:hover,
.message-send .message-send__submit:hover {
  color: #fff;
}
.admin-login .btn-login {
  font-size: 16px;
}
.admin-team .btn-add {
  display: inline-block;
  background-color: transparent;
  line-height: 52px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  padding: 0 24px;
  text-align: center;
  color: #2196f3;
  cursor: pointer;
  border: 2px solid #2196f3;
}
.admin-team .btn-save,
.admin-treatments .btn-filter,
.treatments-reply .btn-spam {
  display: inline-block;
  background-color: #ff5722;
  line-height: 56px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  min-width: 226px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.last-news-wrapper .header__btn,
.form-group-block .form-group__button {
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  text-align: center;
  font-size: 12px;
  opacity: 0.6;
  color: #000;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 8px 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.last-news-wrapper .header__btn:hover,
.form-group-block .form-group__button:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}
.admin-login .btn-reset,
.admin-team .btn-reset,
.admin-treatments .btn-filter-clear,
.agree-container .btn-cancel,
.message-send .message-send__reset,
.treatments-parsed-container .btn-reset {
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  text-align: center;
  font-size: 16px;
  color: rgba(28,33,47,0.6);
  border: 2px solid rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.3s;
  line-height: 52px;
  min-width: 226px;
}
.treatments-parsed-container .btn-reply,
.treatments-reply .btn-reply {
  display: inline-block;
  background-color: #4caf50;
  line-height: 56px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
  min-width: 226px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.admin-login .button-container,
.admin-team .button-container {
  text-align: right;
  padding: 32px 0;
}
.footer-wrapper .footer__content:after,
.last-news-wrapper .last-news__header:after,
.last-news-wrapper .content-block:after,
.link .link__row:after,
.form-group-block:after,
.search-container .search__top-row:after,
.search-container .search__bottom-row:after,
.treatments-reply .button-container:after {
  content: '';
  display: block;
  clear: both;
}
.admin-treatments .tabs-switch:after,
.headers-container .account__text:after,
.last-news-wrapper .last-news__content:after,
.last-news-wrapper .last-new:after,
.main-block .slide__image:after,
.news-block .news-block__scroll:after,
.news-block .slick-arrow:after,
.news-block .slick-dots li button:before,
.toogle .toogle__header a:after {
  content: '';
  display: block;
  position: absolute;
}
.main-block .slide__image,
.news-block .slide__img {
  background-size: cover;
  background-position: center;
}
.header-short-container .header-short {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.headers-container .search__icon,
.headers-container .treatment__icon,
.headers-container .account__icon,
.news-block .slick-arrow:after,
.news-block .slick-dots li button:before {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
label.required:after,
.header-admin-container .login,
.header-admin-container .logout,
.toogle .toogle__header a:after {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
h1,
h2,
h3,
label,
.header__company .company__name,
.admin-login .login__subcaption,
.admin-team .login__subcaption,
.admin-treatments .login__subcaption,
.admin-treatments .tabs-switch,
.agree-container .agree-text__first-part,
.header-admin-container .come-back a,
.header-admin-container .login,
.header-admin-container .logout,
.header-short-container .close-block,
.header-short-container .header__company .company__type,
.headers-container .nav__link,
.last-news-wrapper .last-new__description,
.message-send .toogle .toogle__header a,
.search-container .top-row__caption,
.search-container .right-col__search-btn,
.toogle .toogle__header a,
.treatments-parsed-container .treatments-parsed__subcaption,
.treatments-parsed-container .reply-again-text,
.treatments-reply .treatments-reply__subcaption,
.treatments-reply .treatments-reply__title {
  font-family: "Roboto-Medium";
}
h6,
.table th {
  font-family: "Firasans-Medium";
}
.footer-wrapper .footer-link,
.footer-wrapper .copyright {
  font-family: "Firasans-Regular";
}
h4,
.header__company .company__type,
.admin-treatments .tabs-switch,
.footer-wrapper .footer__caption,
.news-block .news__caption,
.search-container .right-col__search-btn {
  text-transform: uppercase;
}
.header-admin-container .item__link,
.main-block .carousel-arrow.inactive,
.search-container .top-row__close,
.table td:last-child span {
  opacity: 0.5;
}
.header__company .company__type {
  font-size: 10px;
}
h5,
h6,
.admin-treatments .tabs-switch,
.footer-wrapper .copyright,
.last-news-wrapper .last-new__data,
.form-group-block .form-group__tip,
.news-block .news__caption,
.news-block .news__description,
.search-container .left-col__search-label,
.search-results .results__rul,
.table th {
  font-size: 12px;
}
.footer-wrapper .footer-link,
.header-admin-container .header-admin,
.header-admin-container .come-back a,
.header-short-container .close-block,
.header-short-container .header__company .company__name,
.headers-container .subheader__search,
.headers-container .subheader__treatment,
.headers-container .subheader__account {
  font-size: 14px;
}
body,
input,
select,
textarea,
.agree-container .btn-continue,
.link .link__caption,
.message-send .toogle .toogle__header a,
.table button {
  font-size: 16px;
}
h3,
h4,
.last-news-wrapper .last-new__description,
.toogle .toogle__header a {
  font-size: 20px;
}
h2 {
  font-size: 24px;
}
h1 {
  font-size: 28px;
}
a,
input,
select,
textarea,
.header__logo .logo,
.minict_wrapper:after,
.minict_wrapper ul li,
.admin-treatments .tabs-switch,
.admin-treatments .tabs-switch:after,
.admin-treatments .content__pane,
.footer-wrapper .footer-link,
.footer-wrapper .btn-up__icon,
.footer-wrapper .social-block__link,
.header-admin-container .item__link,
.header-short-container .close-block,
.headers-container .subheader__search,
.headers-container .subheader__treatment,
.headers-container .subheader__account,
.headers-container .account__text:after,
.last-news-wrapper .last-new__description,
.link,
.link .row__link-text,
.main-block .slide__info-wrapper,
.main-block .carousel-arrow svg,
.message-send .toogle .toogle__header a:after,
.news-block .slick-arrow,
.news-block .slick-arrow:after,
.news-block .description__link,
.news-block .slick-dots li button,
.news-block .slick-dots li button:before,
.search-container .top-row__close,
.search-container .right-col__search-btn,
.search-results .results__rul span,
.search-results .results__rul a,
.table td a,
.toogle .toogle__header a:after {
  transition: all 0.3s;
}
.admin-team .btn-control-add,
.admin-team .btn-add,
.search-container {
  transition: all 0.5s;
}
.footer-wrapper .btn-up:hover .btn-up__icon_default,
.footer-wrapper .btn-up__icon_hover,
.news-block .slick-arrow.slick-disabled,
.news-block .slick-dots li button:before {
  opacity: 0;
}
.header-admin-container .item__link,
.main-block .carousel-arrow.inactive,
.search-container .top-row__close,
.table td:last-child span {
  opacity: 0.5;
}
.admin-treatments .tabs-switch,
.form-group-block .form-group__tip,
.message-send .toogle .toogle__header a {
  opacity: 0.6;
}
.admin-treatments .tabs-switch.active,
.footer-wrapper .btn-up:hover .btn-up__icon_hover,
.footer-wrapper .btn-up__icon_default,
.footer-wrapper .social-block__link:hover,
.header-admin-container .navigation__item:hover,
.header-admin-container .item__link:hover,
.header-admin-container .item__link.active,
.news-block .slick-dots li:not(.slick-active):hover button:before,
.search-container .top-row__close:hover {
  opacity: 1;
}
.minict_wrapper:after,
.minict_wrapper ul li span,
.footer-wrapper .social-block__link,
.header-admin-container .login,
.header-admin-container .logout,
.header-short-container .close-block,
.last-news-wrapper .last-new__description,
.news-block .slick-arrow,
.news-block .description__link,
.news-block .slick-dots li button,
.search-container .top-row__close,
.search-container .right-col__search-btn,
.table td a,
.table button {
  cursor: pointer;
}
.admin-login .login__subcaption,
.admin-team .login__subcaption {
  margin-bottom: 32px;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.eot"), url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium/Roboto-Medium.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Firasans-Regular";
  src: url("../fonts/Firasans/Firasans-Regular/Firasans-Regular.eot"), url("../fonts/Firasans/Firasans-Regular/Firasans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Firasans/Firasans-Regular/Firasans-Regular.ttf") format("truetype"), url("../fonts/Firasans/Firasans-Regular/Firasans-Regular.woff") format("woff"), url("../fonts/Firasans/Firasans-Regular/Firasans-Regular.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Firasans-Medium";
  src: url("../fonts/Firasans/Firasans-Medium/Firasans-Medium.eot"), url("../fonts/Firasans/Firasans-Medium/Firasans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Firasans/Firasans-Medium/Firasans-Medium.ttf") format("truetype"), url("../fonts/Firasans/Firasans-Medium/Firasans-Medium.woff") format("woff"), url("../fonts/Firasans/Firasans-Medium/Firasans-Medium.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style-type: none;
}
body {
  font-family: "Roboto-Regular", Arial, sans-serif;
  background-color: #fff;
  line-height: 1.5;
  color: #1c212f;
}
@media screen and (max-height: 850px) {
  body overflow-x hidden .slide__info-wrapper {
    top: calc(100vh * 380 / 600);
  }
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #8ecdff;
}
h4 {
  opacity: 0.6;
}
h6 {
  opacity: 0.4;
}
.form-group.error label.required {
  color: #ff5722;
}
.form-group.error label.required + input,
.form-group.error label.required + select,
.form-group.error label.required + textarea,
.form-group.error label.required + .form-group__captcha {
  border: 1px solid rgba(255,87,34,0.4);
}
.form-group.error .minict_wrapper {
  border: 1px solid rgba(255,87,34,0.4);
}
label,
input,
select,
textarea {
  display: block;
  width: 100%;
}
label {
  margin-bottom: 11px;
}
label.required {
  position: relative;
}
label.required:after {
  content: '*';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  color: #f44336;
}
label.error {
  display: none !important;
}
input,
select {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}
input,
select,
textarea {
  font-family: "Roboto-Regular";
  border: 1px solid rgba(28,33,47,0.4);
  margin-bottom: 4px;
}
textarea {
  padding: 16px;
  resize: none;
  height: 144px;
  color: #1c212f;
}
.visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.invisible {
  opacity: 0;
  visibility: hidden;
}
.template {
  display: none;
}
.red {
  color: #f44336;
}
.divider {
  width: 94%;
  height: 1px;
  background-color: #1c212f;
  opacity: 0.06;
  margin: 0 auto;
}
.header__logo {
  position: absolute;
  cursor: pointer;
  width: 56px;
  height: 45px;
  margin-top: 6px;
  left: calc(-100vw * 65 / 1440);
}
.header__logo .logo-default {
  opacity: 1;
}
.header__logo .logo-hover {
  opacity: 0;
}
.header__logo .logo {
  width: 100%;
  height: 100%;
  position: absolute;
}
.header__logo:hover .logo-default {
  opacity: 0;
}
.header__logo:hover .logo-hover {
  opacity: 1;
}
.header__company .company__type,
.header__company .company__name {
  color: #fff;
}
.header__company .company__type {
  margin-bottom: 5px;
  opacity: 0.6;
  padding-left: 10px;
}
.header__company .company__name {
  font-size: 18px;
  max-width: 405px;
}
.minict_wrapper {
  margin-bottom: 4px;
  color: #1c212f !important;
  width: 100% !important;
  height: 48px !important;
  border-radius: 0 !important;
  line-height: 48px !important;
  font-family: "Roboto-Regular" !important;
}
.minict_wrapper.disabled {
  background: none !important;
  opacity: 0.2;
}
.minict_wrapper.disabled:after {
  cursor: default;
}
.minict_wrapper span {
  height: 100% !important;
  padding: 0 16px !important;
  height: 48px !important;
  line-height: 48px !important;
  font-family: "Roboto-Regular" !important;
}
.minict_wrapper span:empty:before {
  display: block !important;
  color: #1c212f !important;
  height: calc(48px - 2px) !important;
  line-height: calc(48px - 2px) !important;
}
.minict_wrapper:after {
  content: '' !important;
  display: block;
  width: 8px !important;
  height: 8px !important;
  border: 1px solid rgba(0,0,0,0.5);
  position: absolute !important;
  top: 33% !important;
  right: 20px !important;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left-color: transparent;
  border-top-color: transparent;
}
.minict_wrapper.active:after {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 46% !important;
}
.minict_wrapper ul {
  margin-top: 20px !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);
}
.minict_wrapper ul li {
  height: 48px !important;
  line-height: 48px !important;
  padding: 0 16px !important;
  border-bottom: 1px solid rgba(28,33,47,0.1);
}
.minict_wrapper ul li:hover {
  background-color: #fafafa !important;
  color: #1c212f !important;
}
.minict_wrapper ul li.selected {
  color: #1c212f !important;
  background-color: #fff !important;
}
.minict_wrapper ul li.disabled {
  color: rgba(28,33,47,0.2) !important;
}
.minict_wrapper ul li.disabled span {
  opacity: 0.2;
  cursor: default;
}
.minict_wrapper ul li span {
  color: #f44336;
  padding: 0 !important;
}
#cke_editor {
  border: 1px solid #a4a6ac;
  margin-left: 10px;
}
#cke_editor .cke_top {
  border-bottom: 1px solid #a4a6ac;
}
#cke_editor .cke_contents {
  min-height: 215px;
}
.adjacent-links-wrapper {
  background-color: rgba(28,33,47,0.05);
  padding: 43px 0 40px 0;
}
.adjacent-links-wrapper .adjacent-links__caption {
  margin-bottom: 32px;
}
.admin-login .form-group-block {
  margin-bottom: 28px;
}
.admin-login .form-group {
  float: left;
  width: 48.5%;
}
.admin-login .form-group:not(:last-child) {
  margin-right: 3%;
}
.admin-login .btn-reset {
  margin-right: 28px;
}
.admin-team .divider {
  width: 100%;
}
.admin-team .btn-control-add {
  opacity: 0;
  visibility: hidden;
}
.admin-team .btn-reset {
  margin-right: 28px;
}
.admin-team .btn-add {
  float: left;
}
.admin-team .add-admin,
.admin-team .change-admin {
  display: none;
  padding-bottom: 22px;
}
.admin-team .add-admin__caption,
.admin-team .change-admin__caption {
  padding-top: 24px;
  margin-bottom: 34px;
}
.admin-team .form-group {
  float: left;
  width: 25%;
}
.admin-team .form-group:not(:last-child) {
  padding-right: 3%;
}
.admin-treatments .login__subcaption {
  margin-bottom: 9px;
}
.admin-treatments .tabs__header {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid rgba(28,33,47,0.06);
}
.admin-treatments .tabs-switch {
  color: #000;
}
.admin-treatments .tabs-switch.active:after {
  background-color: #1c212f;
}
.admin-treatments .tabs-switch:after {
  width: 100%;
  height: 4px;
  background-color: transparent;
  left: 0;
  bottom: -2px;
}
.admin-treatments .tabs__content {
  position: relative;
}
.admin-treatments .header__item {
  display: inline-block;
  position: relative;
  margin-right: 29px;
}
.admin-treatments .header__item a {
  color: #1c212f;
}
.admin-treatments .content__pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
}
.admin-treatments .content__pane.visible {
  z-index: 1;
}
.admin-treatments .table {
  margin-top: 32px;
}
.admin-treatments .table td:first-child,
.admin-treatments .table th:first-child {
  width: 27%;
}
.admin-treatments .table td:nth-child(2),
.admin-treatments .table th:nth-child(2) {
  width: 21.9%;
  max-width: 227px;
  white-space: nowrap;
  overflow: hidden;
}
.admin-treatments .table td:nth-child(3),
.admin-treatments .table th:nth-child(3) {
  width: 29.6%;
  padding-left: 3%;
}
.admin-treatments .table td:last-child,
.admin-treatments .table th:last-child {
  width: 21.5%;
}
.admin-treatments .table .reply-again {
  color: #f44336;
}
.admin-treatments .form-group-block {
  margin-top: 35px;
  margin-bottom: 29px;
}
.admin-treatments .form-group {
  float: left;
  width: 25%;
}
.admin-treatments .form-group:not(:last-child) {
  padding-right: 3%;
}
.admin-treatments .divider {
  width: 100%;
}
.admin-treatments .button-container {
  text-align: right;
  padding: 32px 0;
}
.admin-treatments .btn-filter-clear {
  margin-right: 28px;
}
.admin-treatments #parsed-treatments {
  padding-bottom: 40px;
}
.agree-container {
  padding-top: calc(44px + 110px);
}
.agree-container .agree {
  width: 100%;
  max-width: 742px;
}
.agree-container .agree__caption {
  margin-bottom: 3px;
}
.agree-container .agree__subcaption {
  margin-bottom: 32px;
}
.agree-container .agree-text__first-part {
  margin-bottom: 24px;
}
.agree-container .agree-text__second-part,
.agree-container .divider {
  margin-bottom: 32px;
}
.agree-container .divider {
  width: 100%;
}
.agree-container .btn-container {
  text-align: right;
  padding-bottom: 40px;
}
.agree-container .btn-cancel {
  margin-right: 28px;
}
.footer-wrapper {
  background-color: #1c212f;
}
.footer-wrapper .footer__caption {
  color: #fff;
  padding: 32px 0 20px 0;
}
.footer-wrapper .footer__content {
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  margin-bottom: 34px;
  padding-bottom: 17px;
}
.footer-wrapper .content__col {
  float: left;
}
.footer-wrapper .content__col:nth-child(1) {
  width: 26%;
}
.footer-wrapper .content__col:nth-child(2) {
  width: 25.5%;
}
.footer-wrapper .content__col:nth-child(3) {
  width: 26%;
}
.footer-wrapper .content__col:nth-child(4) {
  width: 22.5%;
}
.footer-wrapper .content-col__sublist {
  padding-left: 15px;
}
.footer-wrapper .footer-link {
  display: inline-block;
  margin-bottom: 9px;
}
.footer-wrapper .item__link {
  opacity: 0.6;
}
.footer-wrapper .item__link:hover {
  opacity: 1;
}
.footer-wrapper .footer__bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 34px;
}
.footer-wrapper .social-block {
  width: 27.8%;
}
.footer-wrapper .copyright {
  width: 72.2%;
}
.footer-wrapper .btn-up {
  position: absolute;
  right: 0;
  top: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.footer-wrapper .btn-up__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.footer-wrapper .social-block__link {
  display: inline-block;
  opacity: 0.6;
}
.footer-wrapper .social-block__link:not(:last-child) {
  margin-right: 24px;
}
.footer-wrapper .link__icon_youtube {
  width: 26px;
  height: 20px;
}
.footer-wrapper .link__icon_odnoklassniki {
  width: 13px;
  height: 22px;
}
.footer-wrapper .link__icon_facebook,
.footer-wrapper .link__icon_vk,
.footer-wrapper .link__icon_instagram {
  width: 22px;
  height: 22px;
}
.footer-wrapper .copyright {
  color: #fff;
  opacity: 0.2;
  line-height: 1.9;
}
.header-admin-container {
  background-color: #f44336;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header-admin-container .header-admin {
  height: 56px;
  position: relative;
}
.header-admin-container .navigation__item {
  height: 100%;
  display: inline-block;
  margin-right: 20px;
  line-height: 56px;
}
.header-admin-container .navigation__item:hover {
  color: #fff;
}
.header-admin-container .item__link:hover,
.header-admin-container .item__link.active {
  color: #fff;
}
.header-admin-container .come-back {
  line-height: 56px;
  display: none;
}
.header-admin-container .come-back a:hover {
  color: #fff;
}
.header-admin-container .come-back a svg {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: -8px;
  display: inline-block;
}
.header-admin-container .come-back a span {
  display: inline-block;
  margin-left: 16px;
}
.header-admin-container .login,
.header-admin-container .logout {
  position: absolute;
  top: 50%;
  right: 15px;
  background-color: transparent;
  color: #fff;
}
.header-admin-container .login {
  display: none;
}
.treatments-reply-container .header-admin-container .navigation,
.treatments-parsed-container .header-admin-container .navigation {
  display: none;
}
.treatments-reply-container .header-admin-container .come-back,
.treatments-parsed-container .header-admin-container .come-back {
  display: block;
}
.admin-login-container .header-admin-container .logout {
  display: none;
}
.admin-login-container .header-admin-container .login {
  display: block;
}
.header-short-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #2196f3;
}
.header-short-container .header-short {
  position: relative;
  color: #fff;
  height: 110px;
}
.header-short-container .header__logo {
  left: calc(-100vw * 50 / 1440);
}
.header-short-container .close-block {
  opacity: 0.6;
  padding-right: 35px;
  background-image: url("../images/icons/close.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  right: 20px;
}
.header-short-container .close-block:hover {
  opacity: 1;
}
.header-short-container .header__logo {
  width: 40px;
  height: 31px;
  margin-top: 11px;
}
.header-short-container .header__company .company__type {
  padding-left: 7px;
}
.header-short-container .header__company .company__name {
  line-height: 1.6;
}
.headers-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.headers-container.scrolled .header-wrapper {
  background-color: rgba(13,59,95,0.5);
}
.headers-container .subheader-container {
  background-color: #2196f3;
  height: 64px;
}
.headers-container .subheader {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.headers-container .subheader_right-col,
.headers-container .subheader_left-col,
.headers-container .subheader__treatment,
.headers-container .subheader__account,
.headers-container .search__icon,
.headers-container .treatment__icon,
.headers-container .account__icon,
.headers-container .subheader__search {
  display: inline-block;
}
.headers-container .subheader_left-col {
  width: 20%;
  text-align: left;
}
.headers-container .subheader_right-col {
  width: 80%;
  text-align: right;
}
.headers-container .subheader__search,
.headers-container .subheader__treatment,
.headers-container .subheader__account {
  position: relative;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
}
.headers-container .subheader__search:hover,
.headers-container .subheader__treatment:hover,
.headers-container .subheader__account:hover {
  opacity: 1;
}
.headers-container .subheader__account:hover .account__text:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 70%;
}
.headers-container .search__icon svg,
.headers-container .treatment__icon svg {
  width: 20px;
  height: 24px;
}
.headers-container .account__icon svg {
  width: 32px;
  height: 32px;
}
.headers-container .search__icon,
.headers-container .treatment__icon,
.headers-container .account__icon {
  position: absolute;
  top: 50%;
  left: 0;
}
.headers-container .search__icon {
  left: 11px;
}
.headers-container .search__text {
  padding-left: 40px;
}
.headers-container .treatment__text {
  padding-left: 26px;
  padding-right: 3.8em;
}
.headers-container .account__text {
  padding-left: 32px;
  padding-right: 35px;
  position: relative;
}
.headers-container .account__text:after {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  top: 43%;
  right: 7px;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}
.headers-container .header-wrapper {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.headers-container .header {
  position: relative;
  height: 134px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.headers-container .header__nav {
  position: absolute;
  right: 15px;
}
.headers-container .nav__link {
  font-size: 15px;
}
.headers-container .nav__link:not(:last-child) {
  margin-right: 2.4em;
}
.last-news-wrapper {
  background-color: rgba(28,33,47,0.05);
  padding-top: 32px;
}
.last-news-wrapper .last-news__header {
  position: relative;
  margin-bottom: 30px;
}
.last-news-wrapper .header__caption {
  float: left;
}
.last-news-wrapper .header__btn {
  float: right;
  margin: -4px -4px 0 0;
}
.last-news-wrapper .last-news__content {
  max-height: 624px;
  position: relative;
  overflow: hidden;
  padding-bottom: 72px;
}
.last-news-wrapper .last-news__content:after {
  width: 100%;
  height: 72px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(243,244,244,0.5), #f3f4f4);
  pointer-events: none;
}
.last-news-wrapper .content-block {
  position: relative;
  width: 100%;
  max-height: 624px;
}
.last-news-wrapper .last-new {
  position: relative;
  float: left;
  margin-bottom: 35px;
}
.last-news-wrapper .last-new:after {
  bottom: 0;
  left: 0;
  width: 97%;
  height: 1px;
  background-color: #1c212f;
  opacity: 0.06;
}
.last-news-wrapper .last-new:nth-child(odd) {
  width: 50%;
  margin-right: 1.5%;
}
.last-news-wrapper .last-new:nth-child(even) {
  width: 48.5%;
}
.last-news-wrapper .last-new__data {
  opacity: 0.4;
  margin-bottom: 5px;
}
.last-news-wrapper .last-new__description {
  display: block;
  line-height: 1.7;
  height: 96px;
  overflow: hidden;
  margin-bottom: 32px;
  color: #1c212f;
  max-width: 97%;
}
.last-news-wrapper .last-new__description:hover {
  color: #0072cc;
}
.link {
  display: inline-block;
  width: 48.3%;
  background-color: #fafafa;
  padding: 24px;
  margin-bottom: 42px;
}
.link:nth-child(odd) {
  margin-right: 3.4%;
}
.link:hover {
  background-color: rgba(28,33,47,0.05);
}
.link:hover .row__link-text {
  color: #0072cc;
}
.link .link__caption {
  color: #1c212f;
  margin-bottom: 48px;
}
.link .link__row {
  position: relative;
}
.link .row__link-text {
  color: #304ffe;
  float: left;
}
.link .row__icon {
  float: right;
  width: 24px;
  height: 24px;
}
.main-block {
  width: 100%;
  height: 100vh;
  color: #fff;
}
.main-block .main-block__carousel,
.main-block .slick-list,
.main-block .slick-track,
.main-block .slide__image,
.main-block .slide__image:after {
  width: 100%;
  height: 100%;
}
.main-block .carousel__slide {
  position: relative;
}
.main-block .slide__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-block .slide__image:after {
  background-color: rgba(28,33,47,0.2);
  z-index: 2;
}
.main-block .slide__info-wrapper {
  width: 100%;
  position: absolute;
  top: calc(100vh * 289 / 600);
  z-index: 3;
}
.main-block .info__caption {
  margin-bottom: 22px;
}
.main-block .info__description {
  margin-bottom: 34px;
}
.main-block .slick-arrow {
  position: absolute;
}
.main-block .main-block__carousel-arrows {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(100vh * 56 / 600);
  z-index: 3;
}
.main-block .carousel-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
}
.main-block .carousel-arrow.inactive {
  cursor: default;
}
.main-block .carousel-arrow svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}
.main-block .carousel-arrow:hover .carousel-arrow_default {
  opacity: 0;
}
.main-block .carousel-arrow:hover .carousel-arrow_hover {
  opacity: 1;
}
.main-block .carousel-arrow_prev {
  right: 63px;
}
.main-block .carousel-arrow_prev svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-block .carousel-arrow_next {
  right: 14px;
}
.main-block .carousel-arrow.inactive:hover .carousel-arrow_default,
.main-block .carousel-arrow_default {
  opacity: 1;
}
.main-block .carousel-arrow.inactive:hover .carousel-arrow_hover,
.main-block .carousel-arrow_hover {
  opacity: 0;
}
.form-group-block {
  padding: 32px;
  background-color: #fafafa;
  margin-bottom: 32px;
  position: relative;
}
.form-group-block .form-group__tip .required {
  color: #f44336;
}
.form-group-block .form-group__button {
  display: block;
  margin: 16px 0;
}
.form-group-block .form-group__button[disabled] {
  opacity: 0.12;
}
.form-group-block .form-group__button[disabled]:hover {
  background-color: transparent;
  cursor: default;
  color: #1c212f;
}
.form-group-block .form-group__captcha {
  width: 100%;
  height: 125px;
  border: solid 1px rgba(28,33,47,0.4);
  background-color: #fff;
  margin-bottom: 4px;
}
.form-group-block_type .form-group {
  width: 47%;
}
.form-group-block_user .form-group {
  float: left;
  width: 25%;
  padding-right: 3%;
}
.form-group-block_address .form-group {
  width: 72%;
}
.form-group-block_email .form-group {
  width: 47%;
}
.form-group-block_additionally .toogle__body .form-group {
  float: left;
}
.form-group-block_additionally .toogle__body .form-group:nth-child(1) {
  width: 75%;
  padding-right: 3%;
}
.form-group-block_additionally .toogle__body .form-group:nth-child(2) {
  width: 25%;
  padding-right: 3%;
}
.form-group-block_thematics .form-group {
  width: 47%;
}
.form-group-block_treatment .form-group {
  width: 72%;
}
.form-group-block_attach .form-group {
  padding-right: 3%;
}
.form-group-block_attach .form-group:last-child {
  margin-top: 32px;
}
.form-group-block_captcha .form-group {
  width: 36%;
}
.message-send {
  padding-top: calc(44px + 110px);
}
.message-send .message-send__caption {
  margin-bottom: 3px;
}
.message-send .message-send__subcaption {
  margin-bottom: 32px;
}
.message-send .message-send__caption,
.message-send .message-send__subcaption {
  padding-left: 32px;
}
.message-send .form__footer {
  text-align: right;
  padding: 32px 32px 40px 0;
}
.message-send .message-send__reset {
  margin-right: 32px;
}
.message-send .message-send__submit {
  font-size: 16px;
}
.message-send .toogle .toogle__header {
  padding: 0;
}
.message-send .toogle .toogle__header a {
  display: block;
  color: #1c212f;
  padding-left: 40px;
  position: relative;
}
.message-send .toogle .toogle__header a:hover {
  color: #1c212f;
}
.message-send .toogle .toogle__header a:after {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: rgba(0,0,0,0.5);
  top: 38%;
  left: 7px;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.message-send .toogle.open a:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 50%;
}
.message-send .toogle .toogle__body {
  padding-top: 30px;
}
.news-block {
  padding: 40px 15px 43px 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.news-block .news-block__carousel {
  width: 74%;
}
.news-block .news-block__scroll {
  width: 26%;
  padding-left: 3.4%;
  max-height: 540px;
  overflow: hidden;
  position: relative;
}
.news-block .news-block__scroll:after {
  width: 100%;
  height: 134px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), #fff);
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.news-block .news-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 134px;
  padding-right: 5px;
}
.news-block .news {
  margin-bottom: 26px;
}
.news-block .news__caption {
  margin-bottom: 8px;
  letter-spacing: 0.3px;
}
.news-block .news__description a {
  color: #304ffe;
}
.news-block .news__description a:hover {
  color: #0072cc;
}
.news-block .slide__img {
  width: 100%;
  height: 422px;
}
.news-block .slick-arrow {
  position: absolute;
  top: 0;
  font-size: 0;
  width: 56px;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
}
.news-block .slick-arrow:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons-sprite/arrow-carousel.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.news-block .slick-arrow:hover {
  background-color: rgba(0,0,0,0.6);
}
.news-block .slick-arrow:hover.slick-next:after,
.news-block .slick-arrow:hover.slick-prev:after {
  left: 55%;
}
.news-block .slick-next {
  right: 0;
}
.news-block .slick-prev {
  left: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.news-block .carousel-slide__caption {
  margin: 17px 0 13px 0;
}
.news-block .description__link {
  color: #304ffe;
}
.news-block .description__link:hover {
  color: #0072cc;
}
.news-block .slick-dots {
  margin: 17px 0 0 5px;
  height: 24px;
}
.news-block .slick-dots li {
  display: inline-block;
}
.news-block .slick-dots li:not(:last-child) {
  margin-right: 13px;
}
.news-block .slick-dots li.slick-active button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid rgba(28,33,47,0.2);
}
.news-block .slick-dots li:not(.slick-active):hover button {
  background-color: #0072cc;
}
.news-block .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(28,33,47,0.2);
  position: relative;
}
.news-block .slick-dots li button:before {
  width: 24px;
  height: 24px;
  background-color: rgba(28,33,47,0.05);
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.search-container {
  height: 0;
  background-color: #2196f3;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.search-container.open {
  height: 210px;
}
.search-container .search {
  color: #fff;
}
.search-container .search__top-row {
  position: relative;
}
.search-container .top-row__close {
  float: right;
  margin: 46px 4px 0 0;
}
.search-container .top-row__caption {
  float: left;
  margin: 40px 0 35px 0;
}
.search-container .search__bottom-row {
  position: relative;
}
.search-container .bottom-row__left-col {
  float: left;
  width: 74.3%;
}
.search-container .bottom-row__right-col {
  float: right;
  width: 25.7%;
  padding-left: 32px;
}
.search-container .left-col__search-label {
  display: block;
  color: rgba(255,255,255,0.6);
  margin-bottom: 7px;
}
.search-container .left-col__search-field {
  width: 100%;
  height: 48px;
  padding: 0 16px;
}
.search-container .right-col__search-btn {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: transparent;
  text-align: center;
  line-height: 48px;
  margin-top: 23px;
  letter-spacing: 1.3px;
  color: rgba(255,255,255,0.5);
}
.search-container .right-col__search-btn:hover {
  background-color: #fff;
  color: #2196f3;
  border-color: #fff;
}
.search-results .search-container {
  height: 210px;
}
.search-results .right-col__search-btn {
  color: #fff;
  border-color: #fff;
}
.search-results .results {
  padding-top: 33px;
}
.search-results .link {
  display: block;
  width: 74.3%;
  margin-right: 0;
  margin-bottom: 30px;
}
.search-results .results__rul {
  margin-bottom: 40px;
}
.search-results .results__rul span,
.search-results .results__rul a {
  color: #304ffe;
}
.search-results .results__rul a:hover {
  color: #0072cc;
}
.table {
  width: 100%;
  border-spacing: 0 2px;
  margin-top: 21px;
  margin-bottom: 6px;
}
.table th,
.table td {
  text-align: left;
}
.table th:first-child,
.table td:first-child {
  padding-left: 10px;
}
.table th:first-child,
.table td:first-child,
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 26%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 25.5%;
}
.table th:last-child,
.table td:last-child {
  width: 22.5%;
}
.table th {
  opacity: 0.4;
  line-height: 30px;
}
.table td {
  background-color: #fafafa;
  height: 48px;
  line-height: 1.2;
}
.table td a {
  color: #304ffe;
}
.table td a:hover {
  color: #0072cc;
}
.table button {
  color: #f44336;
  background-color: transparent;
}
.toogle .toogle__header {
  padding: 26px 0 11px 0;
}
.toogle .toogle__header a {
  display: block;
  width: 100%;
  color: #1c212f;
  position: relative;
}
.toogle .toogle__header a:after {
  right: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  border: 1px solid rgba(0,0,0,0.5);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left-color: transparent;
  border-top-color: transparent;
}
.toogle.open a:after {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 40%;
}
.toogle .toogle__body {
  display: none;
}
.treatments-parsed-container .treatments-parsed__subcaption {
  margin-bottom: 32px;
}
.treatments-parsed-container .toogle_second {
  padding-top: 30px;
}
.treatments-parsed-container .toogle_second .toogle__body {
  padding-bottom: 32px;
}
.treatments-parsed-container .text-container {
  padding-top: 36px;
  line-height: 1.2;
  margin-bottom: 48px;
}
.treatments-parsed-container .text-container__link-attach,
.treatments-parsed-container .text-container__link {
  display: block;
  color: #304ffe;
}
.treatments-parsed-container .text-container__link-attach:hover,
.treatments-parsed-container .text-container__link:hover {
  color: #0072cc;
}
.treatments-parsed-container .reply-again-text {
  margin-bottom: 32px;
}
.treatments-parsed-container .button-container {
  text-align: right;
  padding: 32px 0;
}
.treatments-parsed-container .btn-reset {
  margin-right: 32px;
}
.treatments-parsed-container #cke_editor {
  margin-left: 0;
}
.treatments-parsed-container .divider {
  width: 100%;
}
.treatments-reply .treatments-reply__subcaption {
  margin-bottom: 54px;
}
.treatments-reply .treatments-reply__title {
  margin: 29px 0 13px 10px;
}
.treatments-reply .table {
  margin-top: 11px;
}
.treatments-reply .table_user-post-address td:first-child,
.treatments-reply .table_user-post-address th:first-child {
  width: 78.4%;
}
.treatments-reply .divider {
  width: 100%;
}
.treatments-reply .button-container {
  padding: 32px 0;
  position: relative;
}
.treatments-reply .btn-spam {
  float: left;
}
.treatments-reply .btn-reply {
  float: right;
}
.treatments-reply #cke_editor {
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .footer-container .footer__about,
  .footer-container .footer__contacts,
  .footer-container .footer__subscribe {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer-container .about__text,
  .footer-container .contacts__caption,
  .footer-container .subscribe__caption {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .header-container .header .header__navigation {
    display: none;
  }
  .header-container .header .header__menu-icon {
    -webkit-transform: translateY(-50%) translateX(0%);
        -ms-transform: translateY(-50%) translateX(0%);
            transform: translateY(-50%) translateX(0%);
  }
}
@media screen and (min-width: 1025px) and (max-height: 599px) {
  .main-block {
    min-height: 599px;
  }
  .main-block .slide__info-wrapper {
    bottom: 50px;
    top: auto;
  }
}
@-webkit-keyframes rotateY {
  from {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(300px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(300px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(300px) rotate3d(0, 1, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(300px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(300px);
            transform: perspective(300px);
    opacity: 1;
  }
}
@keyframes rotateY {
  from {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(300px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(300px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(300px) rotate3d(0, 1, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(300px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(300px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(300px);
            transform: perspective(300px);
    opacity: 1;
  }
}
